@model IEnumerable<Model.Entities.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroCalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colonia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coordenadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadoFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualizadoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualizadoFecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colonia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coordenadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Twitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoFecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualizadoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualizadoFecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpresa })
        </td>
    </tr>
}

</table>
