@model Model.Entities.Contenido

@{

    ViewBag.Title = (Model.idContenido > 0 ? Model.Titulo : "Nuevo registro");
}

<h2>Agregar</h2>

@using (Html.BeginForm("Guardar", "Contenido", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.idContenido)
    @Html.HiddenFor(x => x.idCategoria)
    @Html.HiddenFor(x => x.idEmpresa)
    <div class="form-horizontal">
        <h4>Contenido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Subir imagen</label>
            <div class="col-md-10 control-label">
            
                <input type="file" name="Foto" />
            </div>

        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" data-ajax="true" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
