@model IEnumerable<Model.Entities.Contenido > 
@{int i = 0; }
   <!-- Start Main Slider Section -->
<div class="row" style="margin-bottom:2%;margin-top:-3%;">
    <div class="col-md-12">
        <div class="main-slider hidden-sm hidden-xs" id="main-slider">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  @foreach (var item in Model) {
                      <li data-target="#carousel-example-generic" data-slide-to="@i" class='@(i == 0 ? "active" : "")'></li>
                      i++;
                  }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
@{i = 0; }
                 @foreach (var item in Model) 
                 {

                    <div class='@(i == 0 ? "item active" : "item")'>
                        <img src="~/Uploads/Slider/@item.Imagen" class="img-responsive" alt="Slider images @i" style="width:1098px;height:499px;">
                        <div class="carousel-caption">
                            <a href="@item.Link"><h1>@item.Titulo</h1></a>
                            <p>@item.Descripcion</p>
                        </div>
                    </div>
                     i++;
                 }
                  
                       </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- End Main Slider Section -->
